<!DOCTYPE html>
<html>
<head>
    <title>To Do List for Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="http://localhost:8098"></script>
</head>

<body>
<div id="app">

    <h1>To Do List</h1>

    <h2>Enter new task</h2>
    <label>Enter a new To-Do task</label>
    <input v-model="newTask">

    <br>
    <button v-on:click="addTask">Add Task</button>


    <ul> <!-- This code is telling me is that it will duplicate the array below, and it will create a loop.  -->
        <li v-for="task in taskList">
            {{ task }}
        </li>
    </ul>

</div>

<script>

    const { createApp, ref } = Vue

    createApp({
        setup() {

            const taskList = ref([ 'Water plants', 'Cleaning up your computer setup', 'Pay internet bill'  ]) // this is an array that be able to render through updates.
            const newTask = ref('')


            function addTask() {
                if (newTask.value) {
                    taskList.value.push(newTask.value)
                    newTask.value = ''
                }
            }

            return {
                taskList,
                newTask,
                addTask,
            }


        }

    }).mount('#app')
</script>





</body>
</html>